<div class="row">
  <div class="col-md-12">
    <h1>{{ weather.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <img [src]="imgPath + weather.weather[0].icon + '.png'" alt="">
  </div>
  <div class="col-md-4">
    temp_min
    <div class="alert alert-light" role="alert">
      {{ weather.main.temp_min }}
    </div>
    temp_max
    <div class="alert alert-danger" role="alert">
      {{ weather.main.temp_max }}
    </div>
  </div>
  <div class="col-md-4">
    main
    <div class="alert alert-dark" role="alert">
      {{ weather.weather[0].main }}
    </div>
    description
    <div class="alert alert-dark" role="alert">
      {{ weather.weather[0].description }}
    </div>
  </div>
</div>